#createPost {
    width: calc(50% - 20px);
    padding: 10px;
    text-align: center;
}

#createPost.drag-zone #editorContainer, #createPost.drag-zone .create-post-btn {
    opacity: 0.2;
  }

#createPost .non-selectable-action {
    user-select: none;
    cursor: pointer;
}

#createPost .create-post-btn {
    padding: 10px;
    font-size: 24px;
    border-radius: 4px;
    background: cornflowerblue;
    color: #ffffff;
    display: inline-block;
}

#editorContainer .post-title {
    margin: 10px;
}

#editorContainer .post-title input {
    border: none;
    font-size: 24px;
    width: 100%;
    text-align: left;
    padding: 0 5px;
    border-bottom: 1px lightgray solid;
}    

#editorContainer .post-title input:focus {
    outline: none;
}    

#editorContainer .actions {
    display: flex;
    /* justify-content: space-between; */
    /* background: #eee; */
    /* border-radius: 4px; */
}

#editorContainer .action {
    padding: 5px 10px;
    border-radius: 4px;
    color: #232323;
    background: #eee;
    margin: 0 10px;
}

#editorContainer .editor {
    width: calc(100% - 10px);
    height: 300px;
    border: 1px solid black;
    margin: 20px 0;
    text-align: left;
    padding: 5px;
    overflow: auto;
}

#editorContainer .editor:focus {
    outline: none;
}    

#editorContainer .options {
    display: flex;
    justify-content: space-evenly;
}

#editorContainer .option {
    padding: 10px;
    border-radius: 5px;
}

#editorContainer .option.save {
    background: #DA4B55;
    color: #fff;
}    

#editorContainer .option.cancel {
    background: whitesmoke;
    color: #616161;
}

#dropZone {
    border: 2px dashed lightblue;
    padding: 20px;
    height: 200px;
    text-align: center;
    font-size: 24px;
    position: absolute;
    top: 0;
    left: 0;
    background: white;
    width: calc(100% - 200px);
    height: calc(100% - 200px);
    margin: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}