#postPreview {
    position: absolute;
    width: calc(100% - 100px);
    height: calc(100% - 100px);
    left: 0;
    top: 0;
    padding: 50px;
    background: rgba(0,0,0,0.2);
}

#postPreview.show {
    display: block;
}

#postPreview.hide {
    display: none;
}

#postPreview .preview-section {
    height: 100%;
    width: 100%;
    background: white;
    overflow: auto
}

#postPreview .title {
    position: absolute;
    top: 0;
    margin: 0;
    user-select: none;
    left: 60px;
    font-size: 36px;
    color: black;
    font-weight: lighter;
    top: 4px;
}

#postPreview span {
    cursor: pointer;
    color: white;
    position: absolute;
    font-size: 24px;
    top: 12px;
    right: 50px;
    user-select: none;
}

#postPreview .export {
    color: #fafafb;
    user-select: none;
    cursor: pointer;
    display: inline-block;
    font-size: 24px;
    background: #da4b56;
    border-radius: 4px;
    padding: 5px 10px;
    text-align: center;
    position: absolute;
    left: calc(50% - 50px);
    width: 100px;
    bottom: 5px;
}